#mainHeader {
  position: absolute;
  top: calc(5% + 0.5375em);
  left: calc(5% + 0.5375em + 3.5rem);
  width: calc(89% - 7rem);
}

#headerLinks {
  position: relative;
  cursor: pointer;
  transition: all 0.3s linear;
}

#headerLinks::after {
  content: "";
  position: absolute;
  /* background: #000; */
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  background: url(../../public/assets/Lightning.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  display: none;
}

#headerLinks:hover::after {
  display: block;
}

#headerLinks::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background: #f3f3f3;
  transition: all 0.3s ease-in-out;
}

#headerLinks:hover::before {
  width: 100%;
  left: 0;
  animation: shaking 2s linear infinite;
}

@keyframes shaking {
  0% {
    transform: translate(0, 0);
    background: #e3e3e3;
  }
  16.67% {
    transform: translate(2px, 0.5px);
    background: #ffffff;
  }
  33.34% {
    transform: translate(0, 0);
    background: #e3e3e3;
  }
  50.01% {
    transform: translate(0, 1px);
    background: #ffffff;
  }
  66.68% {
    transform: translate(0, 0);
    background: #e3e3e3;
  }
  83.35% {
    transform: translate(1.2px, -0.5px);
    background: #ffffff;
  }
  100% {
    transform: translate(0, 0);
    background: #e3e3e3;
  }
}

#bottom-right-content-container::after, #bottom-right-content-container::before{
  content: "";
  position: absolute;
  /* background: #000000; */
  bottom: 0;
  right: 0;
  z-index: -10;
}

#bottom-right-content-container::after{
  width: calc(6.7% + 0.5375em);
  height: 100%;
}

#bottom-right-content-container::before{
  background: url(../../public/assets/herosectionbg.png);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  height: calc(27% + 0.5375em);
}

#time-date-and-calendar-container{
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(4, 75px);
  margin-right: calc(10% + 0.5375em);
}

#TimeNDate-container{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 2 / span 2;
}

#Calendar-container{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1 / span 4;
}